<!DOCTYPE html>
<head>
    <title>asd</title>
</head>
<body>
    <h1>{{pageTitle}}</h1>
    <p>{{welcomeMessage}}</p>
    <p>Some text</p>
    <footer>
        <p>Copyright {{currentYear}}</p>
    </footer>
</body>
</html>
